*~

.idea/

# /
/*.ncb
/*.opensdf
/*.out
/*.sdf
/*.state
/*.suo
/Backup
/Debug
/Release
/UpgradeLog.XML
/UpgradeLog.htm
/Win32
/_UpgradeReport_Files
/build
/dox
/ipch
/obj
/x64

# /WebApplication/
WebApplication/env

# /AmpCompare/
/AmpCompare/Win32
/AmpCompare/x64

# /Backend/Backend/
/Backend/Backend/*.user
/Backend/Backend/Win32
/Backend/Backend/x64

# /Backend/DefaultModels/
/Backend/DefaultModels/Win32
/Backend/DefaultModels/*.user
/Backend/DefaultModels/x64

# /Backend/GPU/
/Backend/GPU/Win32
/Backend/GPU/*.pdb
/Backend/GPU/x64
/Backend/GPU/*.user

# /Backend/clrun/
/Backend/clrun/Win32
/Backend/clrun/x64
/Backend/clrun/*.user

# /BackendCommunication/LocalCommunication/
/BackendCommunication/LocalCommunication/Debug
/BackendCommunication/LocalCommunication/Win32
/BackendCommunication/LocalCommunication/*.user

# /Common/
/Common/Debug
/Common/Win32
/Common/*.user
/Common/Release
/Common/x64
/Common/svnrev.h
/Common/Built

# /Common/Eigen/
/Common/Eigen/Debug
/Common/Eigen/GUI-CSharp
/Common/Eigen/Release
/Common/Eigen/debug.dat
/Common/Eigen/xraytools.ncb
/Common/Eigen/xraytools.suo
/Common/Eigen/Thumbs.db

# /Common/Eigen/src/
/Common/Eigen/src/Debug
/Common/Eigen/src/GUI-CSharp
/Common/Eigen/src/Release
/Common/Eigen/src/debug.dat
/Common/Eigen/src/xraytools.ncb
/Common/Eigen/src/xraytools.suo
/Common/Eigen/src/Thumbs.db

# /Common/Eigen/src/Cholesky/
/Common/Eigen/src/Cholesky/Debug
/Common/Eigen/src/Cholesky/GUI-CSharp
/Common/Eigen/src/Cholesky/Release
/Common/Eigen/src/Cholesky/debug.dat
/Common/Eigen/src/Cholesky/xraytools.ncb
/Common/Eigen/src/Cholesky/xraytools.suo
/Common/Eigen/src/Cholesky/Thumbs.db

# /Common/Eigen/src/Core/
/Common/Eigen/src/Core/Debug
/Common/Eigen/src/Core/GUI-CSharp
/Common/Eigen/src/Core/Release
/Common/Eigen/src/Core/debug.dat
/Common/Eigen/src/Core/xraytools.ncb
/Common/Eigen/src/Core/xraytools.suo
/Common/Eigen/src/Core/Thumbs.db

# /Common/Eigen/src/Core/arch/
/Common/Eigen/src/Core/arch/Debug
/Common/Eigen/src/Core/arch/GUI-CSharp
/Common/Eigen/src/Core/arch/Release
/Common/Eigen/src/Core/arch/debug.dat
/Common/Eigen/src/Core/arch/xraytools.ncb
/Common/Eigen/src/Core/arch/xraytools.suo
/Common/Eigen/src/Core/arch/Thumbs.db

# /Common/Eigen/src/Core/arch/AltiVec/
/Common/Eigen/src/Core/arch/AltiVec/Debug
/Common/Eigen/src/Core/arch/AltiVec/GUI-CSharp
/Common/Eigen/src/Core/arch/AltiVec/Release
/Common/Eigen/src/Core/arch/AltiVec/debug.dat
/Common/Eigen/src/Core/arch/AltiVec/xraytools.ncb
/Common/Eigen/src/Core/arch/AltiVec/xraytools.suo
/Common/Eigen/src/Core/arch/AltiVec/Thumbs.db

# /Common/Eigen/src/Core/arch/SSE/
/Common/Eigen/src/Core/arch/SSE/Debug
/Common/Eigen/src/Core/arch/SSE/GUI-CSharp
/Common/Eigen/src/Core/arch/SSE/Release
/Common/Eigen/src/Core/arch/SSE/debug.dat
/Common/Eigen/src/Core/arch/SSE/xraytools.ncb
/Common/Eigen/src/Core/arch/SSE/xraytools.suo
/Common/Eigen/src/Core/arch/SSE/Thumbs.db

# /Common/Eigen/src/Core/util/
/Common/Eigen/src/Core/util/Debug
/Common/Eigen/src/Core/util/GUI-CSharp
/Common/Eigen/src/Core/util/Release
/Common/Eigen/src/Core/util/debug.dat
/Common/Eigen/src/Core/util/xraytools.ncb
/Common/Eigen/src/Core/util/xraytools.suo
/Common/Eigen/src/Core/util/Thumbs.db

# /Common/Eigen/src/Geometry/
/Common/Eigen/src/Geometry/Debug
/Common/Eigen/src/Geometry/GUI-CSharp
/Common/Eigen/src/Geometry/Release
/Common/Eigen/src/Geometry/debug.dat
/Common/Eigen/src/Geometry/xraytools.ncb
/Common/Eigen/src/Geometry/xraytools.suo
/Common/Eigen/src/Geometry/Thumbs.db

# /Common/Eigen/src/LU/
/Common/Eigen/src/LU/Debug
/Common/Eigen/src/LU/GUI-CSharp
/Common/Eigen/src/LU/Release
/Common/Eigen/src/LU/debug.dat
/Common/Eigen/src/LU/xraytools.ncb
/Common/Eigen/src/LU/xraytools.suo
/Common/Eigen/src/LU/Thumbs.db

# /Common/Eigen/src/QR/
/Common/Eigen/src/QR/Debug
/Common/Eigen/src/QR/GUI-CSharp
/Common/Eigen/src/QR/Release
/Common/Eigen/src/QR/debug.dat
/Common/Eigen/src/QR/xraytools.ncb
/Common/Eigen/src/QR/xraytools.suo
/Common/Eigen/src/QR/Thumbs.db

# /Common/Eigen/src/SVD/
/Common/Eigen/src/SVD/Debug
/Common/Eigen/src/SVD/GUI-CSharp
/Common/Eigen/src/SVD/Release
/Common/Eigen/src/SVD/debug.dat
/Common/Eigen/src/SVD/xraytools.ncb
/Common/Eigen/src/SVD/xraytools.suo
/Common/Eigen/src/SVD/Thumbs.db

# /Common/GLView/
/Common/GLView/bin
/Common/GLView/obj
/Common/GLView/Win32
/Common/GLView/x64
/Common/GLView/*.user
/Common/GLView/doc

# /Common/GraphToolkit/
/Common/GraphToolkit/*.user
/Common/GraphToolkit/Release
/Common/GraphToolkit/Win32
/Common/GraphToolkit/x64

# /Common/ScintillaNET/
/Common/ScintillaNET/bin

# /Common/ScintillaNET/ScintillaNET/
/Common/ScintillaNET/ScintillaNET/bin
/Common/ScintillaNET/ScintillaNET/obj

# /Common/TreeViewAdv/
/Common/TreeViewAdv/bin
/Common/TreeViewAdv/obj
/Common/TreeViewAdv/doc

# /Common/WinFormsUI/
/Common/WinFormsUI/bin
/Common/WinFormsUI/obj

# /Common/WinFormsUI/Docking/Resources/
/Common/WinFormsUI/Docking/Resources/Thumbs.db

# /Common/ceres-solver-1.9.0-windows/
/Common/ceres-solver-1.9.0-windows/Win32
/Common/ceres-solver-1.9.0-windows/x64

# /Common/lua-5.1.4/src/
/Common/lua-5.1.4/src/Debug
/Common/lua-5.1.4/src/Release
/Common/lua-5.1.4/src/Win32
/Common/lua-5.1.4/src/*.user
/Common/lua-5.1.4/src/x64

# /Common/luainterface/src/LuaInterface/
/Common/luainterface/src/LuaInterface/bin
/Common/luainterface/src/LuaInterface/obj
/Common/luainterface/src/LuaInterface/*.user

# /Common/luainterface/src/LuaInterface.Test/
/Common/luainterface/src/LuaInterface.Test/bin
/Common/luainterface/src/LuaInterface.Test/obj

# /Common/luainterface/src/LuaInterface.net35/
/Common/luainterface/src/LuaInterface.net35/bin
/Common/luainterface/src/LuaInterface.net35/obj

# /Common/luainterface/src/LuaRunner/
/Common/luainterface/src/LuaRunner/obj

# /Common/luainterface/src/TestLuaInterface/
/Common/luainterface/src/TestLuaInterface/bin
/Common/luainterface/src/TestLuaInterface/obj

# /D+/
/D+/*.dlayout
/D+/*.ncb
/D+/*.suo
/D+/*.user
/D+/Win32
/D+/x64
/D+/Release
/D+/Debug
/D+/Scripts
/D+/JobManager.log
/D+/app.aps
/D+/CF4.pdb
/D+/*.dprefs
/D+/*.cache

# /DebyeCalculator/
/DebyeCalculator/Win32
/DebyeCalculator/x64

# /Externals/ceres-for-windows/
/Externals/ceres-for-windows/Debug
/Externals/ceres-for-windows/Win32
/Externals/ceres-for-windows/x64
/Externals/ceres-for-windows/*.opensdf
/Externals/ceres-for-windows/*.sdf
/Externals/ceres-for-windows/*.suo
/Externals/ceres-for-windows/Release

# /Externals/ceres-for-windows/ceres-solver-1.9.0/
/Externals/ceres-for-windows/ceres-solver-1.9.0/Win32
/Externals/ceres-for-windows/ceres-solver-1.9.0/x64

# /Externals/ceres-for-windows/ceres-solver-1.9.0/examples/
/Externals/ceres-for-windows/ceres-solver-1.9.0/examples/Debug
/Externals/ceres-for-windows/ceres-solver-1.9.0/examples/x64
/Externals/ceres-for-windows/ceres-solver-1.9.0/examples/Release

# /Externals/ceres-for-windows/ceres-solver-1.9.0/realworld/
/Externals/ceres-for-windows/ceres-solver-1.9.0/realworld/Debug
/Externals/ceres-for-windows/ceres-solver-1.9.0/realworld/*.tsv
/Externals/ceres-for-windows/ceres-solver-1.9.0/realworld/*.user
/Externals/ceres-for-windows/ceres-solver-1.9.0/realworld/x64
/Externals/ceres-for-windows/ceres-solver-1.9.0/realworld/Release

# /Frontend/DefaultRenderer/
/Frontend/DefaultRenderer/Win32
/Frontend/DefaultRenderer/*.user
/Frontend/DefaultRenderer/x64

# /Frontend/Frontend/
/Frontend/Frontend/Win32
/Frontend/Frontend/*.user
/Frontend/Frontend/x64

# /Frontend/Frontend/simpleini/
/Frontend/Frontend/simpleini/Debug
/Frontend/Frontend/simpleini/GUI-CSharp
/Frontend/Frontend/simpleini/Release
/Frontend/Frontend/simpleini/debug.dat
/Frontend/Frontend/simpleini/xraytools.ncb
/Frontend/Frontend/simpleini/xraytools.suo
/Frontend/Frontend/simpleini/Thumbs.db

# /GridBenchmark/
/GridBenchmark/*.user
/GridBenchmark/Release
/GridBenchmark/Win32
/GridBenchmark/x64

# /LuaScripts/
/LuaScripts/*.out
/LuaScripts/*.state

# /MPlusConsole/
/MPlusConsole/Debug
/MPlusConsole/*.dat
/MPlusConsole/*.log
/MPlusConsole/Release
/MPlusConsole/x64

# /PDBReaderLib/
/PDBReaderLib/*.user
/PDBReaderLib/Debug
/PDBReaderLib/Release
/PDBReaderLib/x64
/PDBReaderLib/Win32
/PDBReaderLib/*.suo
/PDBReaderLib/*.ncb

# /PDBReaderLib/CLPDBReader/
/PDBReaderLib/CLPDBReader/x64
/PDBReaderLib/CLPDBReader/Win32
/PDBReaderLib/CLPDBReader/Debug
/PDBReaderLib/CLPDBReader/*.user

# /PDBReaderLib/DockingTest/
/PDBReaderLib/DockingTest/Debug
/PDBReaderLib/DockingTest/*.ncb
/PDBReaderLib/DockingTest/Release
/PDBReaderLib/DockingTest/DockingTest.suo
/PDBReaderLib/DockingTest/DockingTest.vcproj.owner-HP.Avi.user
/PDBReaderLib/DockingTest/x64
/PDBReaderLib/DockingTest/*.user
/PDBReaderLib/DockingTest/*.filters

# /Population/
/Population/*.ncb
/Population/*.suo
/Population/*.user
/Population/Debug
/Population/Release

# /Population/Common/
/Population/Common/svnrev.h

# /Population/PopulationGUI/
/Population/PopulationGUI/*.user
/Population/PopulationGUI/Debug
/Population/PopulationGUI/Release
/Population/PopulationGUI/svnrev.h
/Population/PopulationGUI/Win32
/Population/PopulationGUI/x64

# /Population/PopulationSolver/
/Population/PopulationSolver/*.ncb
/Population/PopulationSolver/*.suo
/Population/PopulationSolver/*.user
/Population/PopulationSolver/Debug
/Population/PopulationSolver/Release
/Population/PopulationSolver/Win32
/Population/PopulationSolver/x64

# /StandaloneDebye/
/StandaloneDebye/Release

# /StandaloneVEGASTest/
/StandaloneVEGASTest/Debug
/StandaloneVEGASTest/Release
/StandaloneVEGASTest/x64

# /X+/
/X+/Common

# /X+/OtherModels/SampleModel/
/X+/OtherModels/SampleModel/Debug
/X+/OtherModels/SampleModel/x64
/X+/OtherModels/SampleModel/*.user
/X+/OtherModels/SampleModel/Release
/X+/OtherModels/SampleModel/Win32

# /X+/UI/GUI-CLR/
/X+/UI/GUI-CLR/*.user
/X+/UI/GUI-CLR/Debug
/X+/UI/GUI-CLR/GUI-CSharp
/X+/UI/GUI-CLR/Release
/X+/UI/GUI-CLR/Thumbs.db
/X+/UI/GUI-CLR/debug.dat
/X+/UI/GUI-CLR/svnrev.h
/X+/UI/GUI-CLR/svnrevCalc.h
/X+/UI/GUI-CLR/x64
/X+/UI/GUI-CLR/xraytools.ncb
/X+/UI/GUI-CLR/xraytools.suo
/X+/UI/GUI-CLR/Win32
/X+/UI/GUI-CLR/JobManager.log

# /X+/UI/UI-Console/
/X+/UI/UI-Console/Debug
/X+/UI/UI-Console/GUI-CSharp
/X+/UI/UI-Console/Release
/X+/UI/UI-Console/debug.dat
/X+/UI/UI-Console/xraytools.ncb
/X+/UI/UI-Console/xraytools.suo
/X+/UI/UI-Console/Thumbs.db
/X+/UI/UI-Console/x64
/X+/UI/UI-Console/*.user
/X+/UI/UI-Console/Win32
/X+/UI/UI-Console/JobManager.log

# /externalDLLS/

# /externalDLLS/Icosahedron/
/externalDLLS/Icosahedron/*.ncb
/externalDLLS/Icosahedron/*.suo
/externalDLLS/Icosahedron/Debug
/externalDLLS/Icosahedron/Release
/externalDLLS/Icosahedron/*.user
/externalDLLS/Icosahedron/Win32
/externalDLLS/Icosahedron/x64

# /externalDLLS/MTDelix/
/externalDLLS/MTDelix/*.ncb
/externalDLLS/MTDelix/*.suo
/externalDLLS/MTDelix/Debug
/externalDLLS/MTDelix/Release
/externalDLLS/MTDelix/*.user
/externalDLLS/MTDelix/Win32
/externalDLLS/MTDelix/x64

# /externalDLLS/ProlateSphere/
/externalDLLS/ProlateSphere/*.ncb
/externalDLLS/ProlateSphere/*.suo
/externalDLLS/ProlateSphere/Debug
/externalDLLS/ProlateSphere/Release
/externalDLLS/ProlateSphere/*.user
/externalDLLS/ProlateSphere/Win32
/externalDLLS/ProlateSphere/x64

# /externalDLLS/Safinia/
/externalDLLS/Safinia/*.ncb
/externalDLLS/Safinia/*.suo
/externalDLLS/Safinia/Debug
/externalDLLS/Safinia/Release
/externalDLLS/Safinia/*.user
/externalDLLS/Safinia/Win32
/externalDLLS/Safinia/x64

# /pdbgen/
/pdbgen/x64
/pdbgen/*.out
/pdbgen/*.user
/pdbgen/Win32

/WebApplication/db.sqlite3


#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.sdf
*.opensdf
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
[Dd]ebug*/
x64/
_ReSharper*/
[Tt]est[Rr]esult*
packages/
*.orig

**/ceres-solver/docs/**
Common/gitrev.h
/Common/gitrev.h

Common/ceres-solver/ceres-solver/docs/
*.dserv
Documentation/*.aux
Documentation/*.out
Documentation/*.synctex.gz
Documentation/*.pdf
Creating Installer/*.aux
*.fdb_latexmk
*.fls
Creating Installer/*.pdf
Creating Installer/document.synctex.gz

*_fixed.state